<h2>Ajouter un produit frais :</h2>
<form action="/inventory/createFresh" method="POST">
    <div class="row mb-3">
        <label for="inputFreshName" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputFreshName" name="inputFreshName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputFreshThumbNail" class="col-sm-2 col-form-label">Lien de l'image</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputFreshThumbNail" name="inputFreshThumbNail">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputInfo" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputFreshInfo" name="inputFreshInfo">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputFreshPrice" class="col-sm-2 col-form-label">Prix</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputFreshPrice" name="inputFreshPrice">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputFreshQuantity" class="col-sm-2 col-form-label">Quantité</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputFreshQuantity" name="inputFreshQuantity" value="<%= formDataFresh.quantity %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputFreshDlc" class="col-sm-2 col-form-label">DLC</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="inputFreshDlc" name="inputFreshDlc" value="<%= formDataFresh.dlc %>">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
<hr>