<div id="produitsFrais">
    <!-- <% if(!showCreateFreshProduct && !showUpdateFreshProduct){ %>
        <a href="/inventory/newFreshProduct" class="btn btn-secondary float-end" tabindex="-1" role="button" aria-disabled="true">Ajouter un produit frais</a>
        <% } %>

            <% if(showCreateFreshProduct){ %>
                <div>
                    <%- include('../partials/addFreshProduct'); %>
                </div>
                <% } %>

                    <% if(showUpdateFreshProduct){ %>
                        <div>
                            <%- include('../partials/updateProduct'); %>
                        </div>
                        <% } %>

                            <div> -->
    <h2>Liste des produits frais :</h2>
    <div class="row">
        <% fresh_products.forEach((product) => { %>
            <div class="card m-2 p-1 shadow-sm" style="width: 18rem;">
                <img src="<%= product.thumbnail_url %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="h5 card-title">
                        <%= product.name %>
                            <span class="badge bg-secondary"><%= product.price %> €</span>
                            <span class="badge bg-secondary">Qté: <%= product.quantity %></span>
                    </h3>
                    <p class="card-text">
                        <%= product.info %>
                    </p>
                    <p class="card-text">
                        <%=product.dlc%>
                    </p>
                    <!-- <% if(!showUpdateProduct){ %>
                        <a href="/inventory/fresh/<%= product.id %>" class="btn btn-success">Modifier</a>
                        <a href="/inventory/delete/fresh/<%= product.id %>" class="btn btn-danger">Supprimer</a>
                        <% } %> -->
                </div>
            </div>
            <% }); %>
    </div>
</div>
<div class="col-6">

</div>


</div>