<h2>Modifier un produit :</h2>
<form action="/inventory/update/<%= formData.id %>" method="POST">
    <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" name="inputName" value="<%= formData.name %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputThumbNail" class="col-sm-2 col-form-label">Lien de l'image</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputThumbNail" name="inputThumbNail"
                value="<%= formData.thumbnail_url %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputDesc" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDesc" name="inputDesc" value="<%= formData.desc %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPrice" class="col-sm-2 col-form-label">Prix</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputPrice" name="inputPrice" value="<%= formData.price %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputQuantity" class="col-sm-2 col-form-label">Quantité</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputQuantity" name="inputQuantity" value="<%= formData.quantity %>">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
<hr>