<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container">
        <!-- Completer la page A propos -->
        <h1 class="text-center titre-page">A propos</h1>
        <div id="presentation" class="container text-center mt-5">
            <p>Notre épicerie familiale de produits galactiques existe <strong>depuis plus de 184 ans</strong> et transmet son savoir-faire de génération en génération.</p>
            <p>Notre amour des produits et notre sens du service vous garantissent une <strong>expérience unique à chaque bouchée !</strong> Nous sélectionnons méticuleusement chaque ingrédient pour ses saveurs cosmiques et son histoire.</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>