<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>
    <main class="container pb-5">
        <h1 class="text-center mt-3 titre-page">Produits frais</h1>
        <h2>Liste des produits frais :</h2>
        <div class="row">
            <% fresh_products.forEach((product) => { if (product.dlc >= new Date().toISOString()) {%>
                <div class="card m-2 p-1 shadow-sm" style="width: 18rem;">
                    <img src="<%= product.thumbnail_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="h5 card-title">
                            <%= product.name %>
                                <span class="badge bg-secondary"><%= product.price %> €</span>
                        </h3>
                        <p class="card-text">
                            <%= product.info %>
                        </p>
                        <div id="dispo">
                            <% if(product.quantity > 0){ %>
                                <span class="badge bg-success">Disponible - <%= product.quantity%></span>
                                <% } else { %>
                                    <span class="badge bg-danger">Indisponible</span>
                                    <% } %>
                        </div>
                    </div>
                    <div class="card-footer" id="dlc">
                        dlc :
                        <%= product.dlc %>
                    </div>
                </div>
                <% }}); %>

        </div>

    </main>

    <%- include('../partials/footer') %>

</body>

</html>