<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <h1 class="text-center mt-3 titre-page">Inventaire</h1>

        <div id="showProducts">
            <%- include('../partials/showProductsInv'); %>
        </div>
        <div id="showProducts">
            <%- include('../partials/showFreshProductsInv'); %>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>